<form class="container col-6 md-4" action="/products/edit-product" method="POST">
  <div class="form-group">
    <label for="_id">Product ID</label>
    <input
      type="text"
      name="_id"
      class="form-control"
      id="_id"
      aria-describedby="_id"
      value="{{selectedProduct._id}}"
    />

  </div>
  <div class="form-group">
    <label for="pName">Product Name</label>
    <input type="text" name="pName" class="form-control" id="pName"  value="{{selectedProduct.pName}}" />
  </div>
  <div class="form-group">
    <label for="pDesc">Product Description</label>
    <input type="text" name="pDesc" class="form-control" id="pDesc"  value="{{selectedProduct.pDesc}}" />
  </div>
  <div class="form-group">
    <label for="pPrice">Product Price</label>
    <input type="text" name="pPrice" class="form-control" id="pPrice"  value="{{selectedProduct.pPrice}}"/>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>